body{
    box-sizing: border-box;
    background-color: lemonchiffon;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
}

h1{
    margin-top:50px;
    font-weight: bold;
    text-align: center;
}

a{
    color: black;
    text-decoration:none;
    transition: color 0.5s;
    transition: text-decoration 0.5s;
}

a:hover{
    color: orange;
    text-decoration: underline;
}

a:visited{
    color: orange;
}

.active{
    text-decoration: underline;
}

.bandeau{
    background-color: darkred;
    width: 100%;
}

.bandeau{
    box-shadow: 0px 3px 2px darkred;
}

.bandeau nav{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bandeau nav #logoETIQ{
    width: 8%;
    padding: 15px;
}

.bandeau a{
    font-size: 1.5em;
}

.bandeau a:visited{
    color: white;
}

.bandeau a:hover{
    color: lemonchiffon;
}

.bandeau nav ul{
    display: flex;
    text-align: center;
    align-items: center;
}

.bandeau nav ul li{
    list-style: none;
    padding-left: 70px;
}


/* Page favoris */

hr{
    width: 90%;
}

.podcastSec{
    display: flex;
    align-content:space-around;
    margin: 20px;
}

.podcastSec .podDeux{
    display: flex;
    flex-direction: column;
    padding-left: 10px ;
}

.miniaturePodcast{
    width: 25%;
    padding-right:10px ;
}

/* Fin page favoris */


/* Page connexion */ 


.corps{
    width: 95%;
    margin: auto;
}

.corps #grandTitre{
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
}

.corps section h2{
    font-style: italic;
}

.corps section p{
    text-indent: 2em;
}

.corps .form fieldset{
    width: 33%;
    margin: 50px auto;
    background-color: #d1cc9d;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 1px 1px 1px black;
}

.corps .form fieldset #secPart a{
    margin: 0 10% 0 0;
}

.corps .form legend{
    font-weight: bold;
}

.corps .form p{
    text-align: left;
}

.corps .form a{
    color: black;
}

.corps .form a:hover{
    color: grey;
}

.corps section h2{
    padding-top: 25px;
}

/* Fin page connexion */



/* Page créer un compte*/

.formInscri fieldset{
    width: 33%;
    margin: 50px auto;
    background-color: #d1cc9d;
    border: 2px solid black;
    border-radius: 15px;
}

.formInscri legend{
    font-weight: bold;
}

.formInscri p{
    text-align: left;
}

.formInscri a{
    color: black;
}

.formInscri a:hover{
    color: black;
}

/* Fin page créer un compte*/


/* Page questionForm */

.questionForm fieldset{
    width: 33%;
    margin: 50px auto;
    background-color: #d1cc9d;
    border: 2px solid black;
    border-radius: 15px;
}

.questionForm legend{
    font-weight: bold;
}

.questionForm p{
    text-align: left;
}

.questionForm a{
    color: black;
}

.questionForm a:hover{
    color: black;
}

.questionForm textarea{
    width: 80%;
    margin: auto;
}

/* Fin page questionForm */


/* Page mon compte */

.account h2,h3,p{
    text-indent: 4%;
}

.editAccountForm fieldset{
    width: 33%;
    margin: 50px 15px;
    background-color: #d1cc9d;
    border: 2px solid black;
    border-radius: 15px;
}

.editAccountForm legend{
    font-weight: bold;
}

.editAccountForm p{
    text-align: left;
}

.editAccountForm a{
    color: black;
}

.editAccountForm a:hover{
    color: black;
}

.footer-monCompte{
    position: fixed;
    bottom: 0%;
    margin: 0%;
    margin-top: 50px;
    box-shadow: 0px -3px -2px darkred;
    background-color: darkred;
    width: 100%;
}

.footer-monCompte nav {
    display: flex;
    justify-content: center;
}

.footer-monCompte nav p{
    padding: 0 10%;
}

/* Fin page mon compte */

/* Page index */

.presentation{
    margin-bottom: 3%;
}

/* Fin page index */

/* Pages mentionsLegales et politiqueConfid */

.part{
    width: 95%;
    margin: auto;
}

/* Fin pages mentionsLegales et politiqueConfid */

.footer{
    margin-top: 100px;
}

.footer nav {
    box-shadow: 0px -3px 2px darkred ;
    background-color: darkred;
    width: 100%;
    position: fixed;
    bottom: 0%;
}

.footer nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.footer nav ul li{
    margin: 10px 25px;
}

.footer a{
    color: white;
}

.footer a:hover{
    color: lemonchiffon;
    text-decoration: underline;
}

/* Adaptation responsive */

@media (max-width: 1000px){
    .bandeau nav ul li{
        padding-left: 45px;
    }
}

@media (max-width: 850px){
    .bandeau a{
        font-size: 1.2em;
    }

    .miniaturePodcast{
        width: 50%;
        padding-right:10px ;
    }    
}

@media (max-width: 730px){
    .bandeau a{
        font-size: 1em;
    }

    .bandeau nav ul li{
        padding-left: 22px;
    }

    .corps{
        font-size: 0.9em;
    }
}

@media (max-width: 600px){
    .bandeau nav #logoETIQ{
        display: none;
    }

    .miniaturePodcast{
        width: 100%;
    }

    .podcastSec{
        flex-wrap: wrap;
    }
}

/* Fin adaptation responsive */